<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="stylesheet" href="/css/mycomplaints.css">
    <link rel="stylesheet" href="/css/addcomplaint.css">
    <link rel="stylesheet" href="/css/all-complaints.css">
    <link rel="stylesheet" href="/indexstyle.css">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('./navbar') %>
    <%- include('./flash-messages') %>
    <main>

   
